// Main scss styles
@import 'config';
@import 'global';
@import 'layout';
// @import 'type';
// @import 'buttons';
// @import 'notices';
// @import 'dividers';
@import 'other';
@import 'responsive';

// Header
.header {	
	td {
		&.logo {
			background-color: $alta-primary;
		}

		&.title {
			background-color: $alta-secondary;
			color: #ffffff;
			font-weight: bold;
			padding: 10px 0;
		}
	}
}

.main {
	border: none;

	tr {
		&:nth-child(odd) {td {background-color: #ecece7;}}
		&:nth-child(even) {td {background-color: #f4f3ef;}}
		
		&:nth-child(2) {td {padding-top: 5px !important;}}
		&:last-child {td {padding-bottom: 5px !important;}}

		td {
			&.head {
				background-color: $alta-secondary;
				color: #ffffff;
				font-weight: bold;
				padding: 3px 20px;
				font-size: 12px;
			}

			&.body {
				padding: 0 20px;
				font-size: 12px;
				min-width: 14%;
				max-width: 14%;
				width: 14%;
				line-height: 22px;

				a {
					color: $alta-primary;
				}

				&.value {
					text-align: right !important;
				}
			}

			&.head,
			&.body {
				&.size--exact {
					padding: 0 20px;

					&:nth-child(1) {
						min-width: 130px;
						max-width: 160px;
						width: 160px;
					}

					&:nth-child(3) {
						min-width: 25px;
						max-width: 25px;
						width: 25px;
						text-align: center;
						padding: 0 0;
					}

					&:nth-child(2),
					&:nth-child(4),
					&:nth-child(5),
					&:nth-child(6),
					&:nth-child(7),
					&:nth-child(8),
					&:nth-child(9) {
						min-width: 100px;
						max-width: 120px;
						width: 120px;
						text-align: right;
						padding: 0 10px;
					}

					&:nth-child(9) {
						padding: 0 20px;
					}
				}

				&.size--portfolio {
					padding: 0 20px;

					&:nth-child(1) {
						min-width: 160px;
						max-width: 200px;
						width: 200px;
					}

					&:nth-child(2) {
						min-width: 130px;
						max-width: 150px;
						width: 150px;
					}
					
					&:nth-child(5) {
						min-width: 60px;
						max-width: 80px;
						width: 80px;	
					}

					&:nth-child(3),
					&:nth-child(4),
					&:nth-child(6),
					&:nth-child(7) {
						min-width: 100px;
						max-width: 140px;
						width: 140px;
					}
				}
			}
		}
	}
}

.read-more {
	td {
		background-color: $alta-primary;
		color: #ffffff;
		padding: 20px;

		table {
			tr {
				td {
					padding: 0;

					.title {
						a {
							font-weight: bold;
							font-size: 14px;
							color: #ffffff;
							text-decoration: none;
						}
					}

					&.img {
						padding: 5px 0;
						
						img {
							width: 135px;
						}
					}
					
					.desc {
						font-size: 12px;
					}
				}
			}
		}

	}
}

.wiki {
	td {
		background-color: #edede8;
		padding: 20px;

		.disclaimer {
			p {
				font-size: 11px;
				line-height: 14px;
				color: #000;

				a {
					text-decoration: underline;
					color: #6C063F;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.content-msg {
			margin-bottom: 50px;

			p {
				font-size: 12px;
				line-height: 18px;
				
				.h3 {
					font-weight: bold;
					display: block;
					font-size: 18px;
					margin-bottom: 10px;
				}

				.h6 {
					font-weight: bold;
					display: block;
				}

				&.no-margin {
					margin: 0;
				}

				ul {
					margin-bottom: 20px;

					li {
						font-size: 12px;
						line-height: 18px;
						margin: 0;
						list-style-position: initial;
					}
				}
			}
		}
	}
}

.debug {
	color: lime !important;
}
