<div class="disclaimer">
	<p>ALTA Skladi d.d., Železna cesta 18, 1000 Ljubljana. Prospekt Krovnega sklada ALTA z vključenimi pravili upravljanja ter dokument s Ključnimi podatki za vlagatelje v slovenskem jeziku je mogoče brezplačno dobiti v elektronski obliki na spletni strani <a href="http://www.alta.si" target="_blank">www.alta.si</a> ter v fizični obliki na vseh pooblaščenih vpisnih mestih v času uradnih ur. Pooblaščena vpisna mesta so navedena na spletni strani <a href="http://www.alta.si" target="_blank">www.alta.si</a>.</p>
	<p>OPOZORILO: Pretekla donosnost naložbe ni pokazatelj njene donosnosti v prihodnosti. Tveganost podskladov je velika, zlasti v krajšem obdobju vlaganja (do pet let). Pri samem neto donosu je treba upoštevati tudi vstopno provizijo (najvišja pri vseh navedenih podskladih je 4 odstotke). Izstopnih stroškov ni, razen pri fleksibilnem mešanem podskladu ALTA SENIOR za vlagatelje, ki so pridobili enote premoženja pred 9. 5. 2013, največ tri odstotke. Donos tako znižajo vstopni in izstopni stroški.</p>
	<p><img border="0" src="{{> root}}/kazalnik_1000.jpg"></p>
	<p>Ocene tveganj in potencialne donosnosti skladov, prikazane v zgornjih grafičnih prikazih, so pripravljene na podlagi dosedanjih podatkov o poslovanju skladov. Pretekli podatki, ki se uporabljajo za izračun prikazov, niso nujni pokazatelj tveganj v prihodnje. V skladu z dejanskim poslovanjem skladov v prihodnosti se bodo ocene tveganj in potencialne donosnosti lahko spremenile. Najnižja kategorija ne pomeni naložbe brez tveganja.<br>
		Vrednosti VEP-ov v tem elektronskem sporočilu so zgolj informativne narave. V primeru razlike med vrednostmi VEP-ov v tem elektronskem sporočilu ter vrednostmi VEP-ov objavljenih na spletni strani družbe ALTA Skladi d.d. se upoštevajo in so edine zavezujoče le vrednosti, objavljene na navedeni spletni strani.</p>
	<p>S prijaznimi pozdravi,<br>ALTA Skladi d.d.© ALTA</p>
	<p>Na spletni strani ALTA ste se v okviru aplikacije e-Skladi naročili na prejemanje obvestil o vrednosti VEP-ov, ki vam jih sedaj pošiljamo. Nastavitve pošiljanja obvestil lahko prilagodite na spletnih straneh.</p>
</div>
