<table class="read-more" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
			<table>
				<tr>
					<td>
						<div class="title"><a href="https://eskladi.alta.si/Obvestila/?id=1">Prenovljeni e-Skladi in nova akcija</a></div>
					</td>
				</tr>
				<tr>
					<td class="img">
						<img src="{{> root}}/creative-01.jpg" alt="">
					</td>
				</tr>
				<tr>
					<td>
						<div class="desc">e-Skladi nagrajujejo!</div>
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<td>
						<div class="title"><a href="https://eskladi.alta.si/Obvestila/?id=5">Mesečno poročilo za december 2015</a></div>
					</td>
				</tr>
				<tr>
					<td class="img">
						<img src="{{> root}}/creative-02.jpg" alt="">
					</td>
				</tr>
				<tr>
					<td>
						<div class="desc">Preberite.</div>
					</td>
				</tr>
			</table>
		</td>
		<td>
			<table>
				<tr>
					<td>
						<div class="title"><a href="https://eskladi.alta.si/Obvestila/?id=6">Kaj bo diktiralo tempo finančnim trgom</a></div>
					</td>
				</tr>
				<tr>
					<td class="img">
						<img src="{{> root}}/creative-03.jpg" alt="">
					</td>
				</tr>
				<tr>
					<td>
						<div class="desc">Komentar upravljavca Petra Domadenika</div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>