<div class="content-msg">
	<p><span class="h3">SPOZNAJTE NALOŽBENE MOŽNOSTI V ALTI</span></p>
	<p><span class="h6">ALTA VARČEVALNI NAČRT</span>Finančni načrt oziroma Varčevalni načrt ALTA je prijazna, preprosta in donosna odlika varčevanja v skladih s postopnimi mesečnimi vplačili. Dolgoročno mesečno varčevanje je eno izmed najmanj tveganih načinov plemenitenja sredstev, nalaganje v delniške oziroma mešane sklade pa ena izmed najbolj donosnih oblik plemenitenja premoženja. Varčujte za stanovanje, zaslužen dopust, za lepšo starost ali pa olajšajte otroku pot do osamosvojitve.
	</p>
	<p><span class="h6">NALOŽBA V ALTA SKLADE</span>Naložba v sklade je primerna za vse, ki želite dolgoročno plemenititi svoja sredstva. Je odlična dolgoročna rešitev za uresničitev vaših ciljev. Omogoča vam uravnavanje tveganja in sodelovanje pri potencialno višjih donosih.</p>
	<p class="no-margin">Vlaganje v ALTINE sklade ima kup prednosti:</p>
	<p class="no-margin"><ul type="disc"><li>raznolikost skladov! 20 privlačnih skladov, ki vlagajo tudi v najbolj oddaljene kraje: Istanbul, Seul, Tokio, Peking, združenih v ALTA Krovni sklad, vam omogoča oblikovanje varnega in donosnega portfelja.</li><li>neomejen prenos med skladi! Neomejeno, hitro in preprosto prehajanje med vsemi ALTA skladi ter prilagajanje portfelja svojim potrebam, želenemu donosu in razmeram na trgu.</li><li>kadarkoli do sredstev! Privarčevana sredstva si lahko izplačate delno ali v celoti. Kadarkoli, brez izstopnih stroškov.</li>
	</ul></p>
	<p><span class="h6">NALOŽBENI PAKETI ALTA</span>ALTA naložbeni paketi omogočajo varčevanje za različne želje. Skupaj s svetovalcem boste izbrali pravega zase. Naložbo lahko seveda tudi podarite (npr. partnerju, otroku ... )!</p>
</div>
