---
layout: default.hbs
subject: Branded transaction email example
---
<span class="preheader">To je test email newsletterja v30: Vrednost portfelja na dan 20. 01. 2016</span>

<table class="header" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="align-center logo" colspan="7">
			<a href=""><img src="{{> root}}/logo.png" height="72" alt="Alta"></a>
		</td>
	</tr>
	<tr>
		<td class="align-center title" colspan="7">
			<span class="debug">To je test email newsletterja v30: </span>Vrednost portfelja na dan 20. 01. 2016
		</td>
	</tr>	
</table>

<table class="main" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="head size--portfolio">Sklad</td>
		<td class="head size--portfolio">Št. PI</td>
		<td class="head size--portfolio">Shema</td>
		<td class="head size--portfolio">Enote</td>
		<td class="head size--portfolio">Vep</td>
		<td class="head size--portfolio">Vrednost</td>
		<td class="head size--portfolio">Datum</td>
	</tr>
	<tr>
		<td class="body size--portfolio"><a href="http://www.alta.si/vzajemni_skladi/tecajnica_skladov/alta_pharma-tech">ALTA PHARMA-TECH</a></td>
		<td class="body size--portfolio appleLinks">1901006719</td>
		<td class="body size--portfolio">ALTA VN</td>
		<td class="body size--portfolio">600,4481</td>
		<td class="body size--portfolio">1,61</td>
		<td class="body size--portfolio">966,42</td>
		<td class="body size--portfolio">18.01.2016</td>
	</tr>
	<tr>
		<td class="body size--portfolio"><a href="http://www.alta.si/vzajemni_skladi/tecajnica_skladov/alta_europe">ALTA EUROPE</a></td>
		<td class="body size--portfolio appleLinks">0601006712</td>
		<td class="body size--portfolio">ALTA VN</td>
		<td class="body size--portfolio">115,8196</td>
		<td class="body size--portfolio">5,23</td>
		<td class="body size--portfolio">605,30</td>
		<td class="body size--portfolio">18.01.2016</td>
	</tr>
	<tr>
		<td class="body size--portfolio"></td>
		<td class="body size--portfolio"></td>
		<td class="body size--portfolio value" colspan="3"><b>Skupaj vrednost portfelja:</b></td>
		<td class="body size--portfolio" colspan="2"><b>1.571,72 EUR</b></td>
	</tr>
</table>

{{> feautured-content }}

<table class="wiki" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>

			{{> nalozbene-moznosti }}

			{{> disclaimer }}

		</td>
	</tr>
</table>
