---
layout: default.hbs
subject: Branded transaction email example
---
<span class="preheader">To je test email newsletterja v30: Vzajemni skladi na dan 18.01.2016</span>

<table class="header" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="align-center logo" colspan="7">
			<a href=""><img src="{{> root}}/logo.png" height="72" alt="Alta"></a>
		</td>
	</tr>
	<tr>
		<td class="align-center title" colspan="7">
			<span class="debug">To je test email newsletterja v30: </span>Vzajemni skladi na dan 18.01.2016
		</td>
	</tr> 
</table>

<table class="main" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td class="head size--exact">Sklad</td>
		<td class="head size--exact">VEP</td>
		<td class="head size--exact">Spr.</td>
		<td class="head size--exact">Prej. v dan v %</td>
		<td class="head size--exact">12 mes. v %</td>
		<td class="head size--exact">36 mes. v %</td>
		<td class="head size--exact">60 mes. v %</td>
		<td class="head size--exact">Leto 2015 v %</td>
		<td class="head size--exact">Leto 2014 v %</td>
	</tr>
	<tr>
		<td class="body size--exact"><a href="http://www.alta.si/vzajemni_skladi/tecajnica_skladov/alta_new_europe" target="_blank">ALTA NEW EUROPE</a></td>
		<td class="body size--exact">0,5820</td>
		<td class="body size--exact"><img src="{{> root}}/arrow-down.gif"></td>
		<td class="body size--exact">-1,19 %</td>
		<td class="body size--exact">-19,35 %</td>
		<td class="body size--exact">-43,45 %</td>
		<td class="body size--exact">-51,41 %</td>
		<td class="body size--exact">-6,41 %</td>
		<td class="body size--exact">-20,05 %</td>
	</tr>
	<tr>
		<td class="body size--exact"><a href="http://www.alta.si/vzajemni_skladi/tecajnica_skladov/alta_india" target="_blank">ALTA INDIA</a></td>
		<td class="body size--exact">44,4083</td>
		<td class="body size--exact"><img src="{{> root}}/arrow-down.gif"></td>
		<td class="body size--exact">-2,04 %</td>
		<td class="body size--exact">-20,20 %</td>
		<td class="body size--exact">11,35 %</td>
		<td class="body size--exact">-13,17 %</td>
		<td class="body size--exact">-1,55 %</td>
		<td class="body size--exact">45,56 %</td>
	</tr>
	<tr>
		<td class="body size--exact"><a href="http://www.alta.si/vzajemni_skladi/tecajnica_skladov/alta_pharma-tech" target="_blank">ALTA PHARMA-TECH</a></td>
		<td class="body size--exact">1,6095</td>
		<td class="body size--exact"><img src="{{> root}}/arrow-up.gif"></td>
		<td class="body size--exact">0,12 %</td>
		<td class="body size--exact">-6,28 %</td>
		<td class="body size--exact">45,38 %</td>
		<td class="body size--exact">47,34 %</td>
		<td class="body size--exact">8,28 %</td>
		<td class="body size--exact">26,09 %</td>
	</tr>
	<tr>
		<td class="body size--exact"><a href="http://www.alta.si/vzajemni_skladi/tecajnica_skladov/alta_global" target="_blank">ALTA GLOBAL</a></td>
		<td class="body size--exact">6,4860</td>
		<td class="body size--exact"><img src="{{> root}}/arrow-down.gif"></td>
		<td class="body size--exact">-0,15 %</td>
		<td class="body size--exact">-4,88 %</td>
		<td class="body size--exact">24,67 %</td>
		<td class="body size--exact">14,45 %</td>
		<td class="body size--exact">7,64 %</td>
		<td class="body size--exact">13,99 %</td>
	</tr>
	<tr>
		<td class="body size--exact"><a href="http://www.alta.si/vzajemni_skladi/tecajnica_skladov/alta_gold" target="_blank">ALTA GOLD</a></td>
		<td class="body size--exact">16,7145</td>
		<td class="body size--exact"><img src="{{> root}}/arrow-up.gif"></td>
		<td class="body size--exact">0,04 %</td>
		<td class="body size--exact">-38,03 %</td>
		<td class="body size--exact">-61,13 %</td>
		<td class="body size--exact">-70,31 %</td>
		<td class="body size--exact">-21,29 %</td>
		<td class="body size--exact">-3,57 %</td>
	</tr>
	<tr>
		<td class="body size--exact"><a href="http://www.alta.si/vzajemni_skladi/tecajnica_skladov/alta_usa" target="_blank">ALTA USA</a></td>
		<td class="body size--exact">1,6654</td>
		<td class="body size--exact"><img src="{{> root}}/arrow-up.gif"></td>
		<td class="body size--exact">0,20 %</td>
		<td class="body size--exact">-5,50 %</td>
		<td class="body size--exact">39,18 %</td>
		<td class="body size--exact">38,12 %</td>
		<td class="body size--exact">6,02 %</td>
		<td class="body size--exact">22,31 %</td>
	</tr>
	<tr>
		<td class="body size--exact"><a href="http://www.alta.si/vzajemni_skladi/tecajnica_skladov/alta_goods" target="_blank">ALTA GOODS</a></td>
		<td class="body size--exact">48,4484</td>
		<td class="body size--exact"><img src="{{> root}}/arrow-up.gif"></td>
		<td class="body size--exact">0,12 %</td>
		<td class="body size--exact">2,95 %</td>
		<td class="body size--exact">45,42 %</td>
		<td class="body size--exact">40,35 %</td>
		<td class="body size--exact">15,87 %</td>
		<td class="body size--exact">19,78 %</td>
	</tr>
	<tr>
		<td class="body size--exact"><a href="http://www.alta.si/vzajemni_skladi/tecajnica_skladov/alta_primus" target="_blank">ALTA PRIMUS</a></td>
		<td class="body size--exact">1,6956</td>
		<td class="body size--exact"><img src="{{> root}}/arrow-up.gif"></td>
		<td class="body size--exact">0,16 %</td>
		<td class="body size--exact">-9,92 %</td>
		<td class="body size--exact">1,63 %</td>
		<td class="body size--exact">-6,21 %</td>
		<td class="body size--exact">-3,12 %</td>
		<td class="body size--exact">12,81 %</td>
	</tr>
	<tr>
		<td class="body size--exact"><a href="http://www.alta.si/vzajemni_skladi/tecajnica_skladov/alta_asia" target="_blank">ALTA ASIA</a></td>
		<td class="body size--exact">5,9560</td>
		<td class="body size--exact"><img src="{{> root}}/arrow-down.gif"></td>
		<td class="body size--exact">-0,62 %</td>
		<td class="body size--exact">-9,28 %</td>
		<td class="body size--exact">7,63 %</td>
		<td class="body size--exact">-3,79 %</td>
		<td class="body size--exact">9,11 %</td>
		<td class="body size--exact">14,11 %</td>
	</tr>
	<tr>
		<td class="body size--exact"><a href="http://www.alta.si/vzajemni_skladi/tecajnica_skladov/alta_brazilrussiaindiachina" target="_blank">ALTA BrazilRussiaIndiaChina</a></td>
		<td class="body size--exact">0,8087</td>
		<td class="body size--exact"><img src="{{> root}}/arrow-down.gif"></td>
		<td class="body size--exact">-0,59 %</td>
		<td class="body size--exact">-17,48 %</td>
		<td class="body size--exact">-15,36 %</td>
		<td class="body size--exact">-36,07 %</td>
		<td class="body size--exact">1,85 %</td>
		<td class="body size--exact">7,99 %</td>
	</tr>
	<tr>
		<td class="body size--exact"><a href="http://www.alta.si/vzajemni_skladi/tecajnica_skladov/alta_bond" target="_blank">ALTA BOND</a></td>
		<td class="body size--exact">0,6401</td>
		<td class="body size--exact"><img src="{{> root}}/arrow-down.gif"></td>
		<td class="body size--exact">-0,08 %</td>
		<td class="body size--exact">1,96 %</td>
		<td class="body size--exact">1,83 %</td>
		<td class="body size--exact">11,59 %</td>
		<td class="body size--exact">2,89 %</td>
		<td class="body size--exact">1,82 %</td>
	</tr>
	<tr>
		<td class="body size--exact"><a href="http://www.alta.si/vzajemni_skladi/tecajnica_skladov/alta_energy" target="_blank">ALTA ENERGY</a></td>
		<td class="body size--exact">3,9788</td>
		<td class="body size--exact"><img src="{{> root}}/arrow-up.gif"></td>
		<td class="body size--exact">0,14 %</td>
		<td class="body size--exact">-22,48 %</td>
		<td class="body size--exact">-17,40 %</td>
		<td class="body size--exact">-31,12 %</td>
		<td class="body size--exact">-11,76 %</td>
		<td class="body size--exact">1,02 %</td>
	</tr>
	<tr>
		<td class="body size--exact"><a href="http://www.alta.si/vzajemni_skladi/tecajnica_skladov/alta_balkan" target="_blank">ALTA BALKAN</a></td>
		<td class="body size--exact">0,5904</td>
		<td class="body size--exact"><img src="{{> root}}/arrow-down.gif"></td>
		<td class="body size--exact">-1,02 %</td>
		<td class="body size--exact">-10,90 %</td>
		<td class="body size--exact">-7,39 %</td>
		<td class="body size--exact">-32,18 %</td>
		<td class="body size--exact">-4,92 %</td>
		<td class="body size--exact">15,98 %</td>
	</tr>
	<tr>
		<td class="body size--exact"><a href="http://www.alta.si/vzajemni_skladi/tecajnica_skladov/alta_high_yield_bond" target="_blank">ALTA HIGH YIELD BOND</a></td>
		<td class="body size--exact">1,1525</td>
		<td class="body size--exact"><img src="{{> root}}/arrow-down.gif"></td>
		<td class="body size--exact">-0,26 %</td>
		<td class="body size--exact">0,47 %</td>
		<td class="body size--exact">5,89 %</td>
		<td class="body size--exact">15,27 %</td>
		<td class="body size--exact">2,13 %</td>
		<td class="body size--exact">2,06 %</td>
	</tr>
	<tr>
		<td class="body size--exact"><a href="http://www.alta.si/vzajemni_skladi/tecajnica_skladov/alta_europe" target="_blank">ALTA EUROPE</a></td>
		<td class="body size--exact">5,2262</td>
		<td class="body size--exact"><img src="{{> root}}/arrow-down.gif"></td>
		<td class="body size--exact">-0,14 %</td>
		<td class="body size--exact">-6,88 %</td>
		<td class="body size--exact">8,87 %</td>
		<td class="body size--exact">-1,06 %</td>
		<td class="body size--exact">7,37 %</td>
		<td class="body size--exact">-2,76 %</td>
	</tr>
	<tr>
		<td class="body size--exact"><a href="http://www.alta.si/vzajemni_skladi/tecajnica_skladov/alta_komet" target="_blank">ALTA KOMET</a></td>
		<td class="body size--exact">1,4348</td>
		<td class="body size--exact"><img src="{{> root}}/arrow-down.gif"></td>
		<td class="body size--exact">-0,16 %</td>
		<td class="body size--exact">-26,14 %</td>
		<td class="body size--exact">-27,55 %</td>
		<td class="body size--exact">-24,02 %</td>
		<td class="body size--exact">-14,66 %</td>
		<td class="body size--exact">4,53 %</td>
	</tr>
	<tr>
		<td class="body size--exact"><a href="http://www.alta.si/vzajemni_skladi/tecajnica_skladov/alta_senior" target="_blank">ALTA SENIOR</a></td>
		<td class="body size--exact">10,9011</td>
		<td class="body size--exact"><img src="{{> root}}/arrow-up.gif"></td>
		<td class="body size--exact">0,28 %</td>
		<td class="body size--exact">-12,29 %</td>
		<td class="body size--exact">16,64 %</td>
		<td class="body size--exact">11,76 %</td>
		<td class="body size--exact">-4,66 %</td>
		<td class="body size--exact">24,54 %</td>
	</tr>
	<tr>
		<td class="body size--exact"><a href="http://www.alta.si/vzajemni_skladi/tecajnica_skladov/alta_abs" target="_blank">ALTA ABS</a></td>
		<td class="body size--exact">1,2269</td>
		<td class="body size--exact"><img src="{{> root}}/arrow-up.gif"></td>
		<td class="body size--exact">0,06 %</td>
		<td class="body size--exact">-3,73 %</td>
		<td class="body size--exact">20,83 %</td>
		<td class="body size--exact">%</td>
		<td class="body size--exact">2,56 %</td>
		<td class="body size--exact">13,33 %</td>
	</tr>
	<tr>
		<td class="body size--exact"><a href="http://www.alta.si/vzajemni_skladi/tecajnica_skladov/alta_turkey" target="_blank">ALTA TURKEY</a></td>
		<td class="body size--exact">30,6960</td>
		<td class="body size--exact"><img src="{{> root}}/arrow-up.gif"></td>
		<td class="body size--exact">0,62 %</td>
		<td class="body size--exact">-36,59 %</td>
		<td class="body size--exact">-41,12 %</td>
		<td class="body size--exact">-35,72 %</td>
		<td class="body size--exact">-28,73 %</td>
		<td class="body size--exact">26,29 %</td>
	</tr>
</table>

{{> feautured-content }}

<table class="wiki" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
			
			{{> disclaimer }}
			
		</td>
	</tr>
</table>
